/* 全局样式表 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)!important;
}

.el-table{
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination{
    margin-top: 15px;
    text-align: center;
}

.el-cascader-menu{
    height: 300px;
}
.el-cascader{
    width: 100%;
}
.el-steps{
    margin: 10px 0;
    justify-content: center;
}
.el-step__title{
    font-size: 13px;
}
.ql-editor{
    min-height: 300px;
}
.el-menu{
    border: 0;
}
.el-button:hover{
    background-color: #f7f7f7;
    border-color: #e6e6e6;
    color: black;
}
.el-button:focus{
    background-color: #f7f7f7;
    border-color: black;
    color: black;
}