/* 全局样式表 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1300px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)!important;
}

.el-table{
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination{
    margin-top: 15px;
    text-align: center;
}

.el-cascader-menu{
    height: 300px;
}
.el-cascader{
    width: 100%;
}
.el-steps{
    margin: 10px 0;
    justify-content: center;
}
.el-step__title{
    font-size: 13px;
}
.el-menu{
    border: 0!important;
}
/* 自定义按钮样式 */
.el-button:hover{
    background-color: #f7f7f7;
    border-color: #e6e6e6;
    color: black;
}
.el-button:focus{
    background-color: #f7f7f7;
    border-color: black;
    color: black;
}
/* 自定义表格悬浮效果 */
.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #e2f2f8!important;
}
/* 自定义表格行样式 */
tr>td{
    padding: 10px 0!important;
}
.cell{
    line-height: 30px!important;
    padding: 0;
}
/* 自定义提示文字样式 */
.is-light{
    border-color: #10a9fb!important;
}
.popper__arrow{
    border-top-color: #10a9fb!important;
}
.el-main{
    padding-bottom: 0;
}